
<%- include('./partials/header.ejs')%>
<link rel="stylesheet" href="/public/css/trades.css" />

<div class="roasts-container">
  <
    <% roasts.map(roast => { %>
      <option value="<%= roast %>"><%= roast %></option>
    <% }); %>
  </select>
  <button id="filter-roast">Filter</button>
</div>

  <% roasts.map(roast => { %>
  <div class="roast-card">
    <div class="roast-title"><%= roast %></div>
    <div class="roast-card-trades">
<<<<<<< HEAD
      <% trades.filter(trade => trade.roastType === roast).map(trade => { %>
      <div><%= trade.coffeeName %></div>
      <
=======
      <% tradeItems.filter(tradeItems => tradeItems.roastType ===
      roast).map(tradeItems.coffeeName => { %>
      <div><%= tradeItems.coffeeName %></div>
>>>>>>> refs/remotes/origin/main
      <% }); %>
    </div>
  </div>
  <% }); %>
</div>

<%- include('./partials/footer.ejs')%>
